name: cd/tavla-visning-dev

on:
  workflow_dispatch:

jobs:
  docker-build:
    uses: entur/gha-docker/.github/workflows/build.yml@v1.10.1
    with:
      context: .
      image_name: tavla-visning

  docker-push:
    needs: [docker-build]
    uses: entur/gha-docker/.github/workflows/push.yml@v1.10.1
    with:
      context: .
      image_name: tavla-visning

  helm-deploy-dev:
    needs: [docker-push]
    uses: entur/gha-helm/.github/workflows/deploy.yml@v1.2.2
    with:
      environment: dev
      chart: helm/tavla-visning
      image: ${{ needs.docker-push.outputs.image_name }}:${{ needs.docker-push.outputs.image_tag}}


